@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary-bg: #000;
  --color-primary-text: #fff;
  --color-secondary-text: #bbb;
}

* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

body {
  @apply bg-stone-950 text-stone-200 font-sans;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 4.5rem;
}
